<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <table class="phones">
      <tr>
      <th ng-repeat="columnname in $ctrl.recipeColumnNames">
      {{columnname}}
      </th>
      </tr>
      
        <tr ng-repeat="recipe in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="phone-list-item">





          <td>
          {{recipe.id}}
          </td>
          <td>
          {{recipe['recipe name']}}
          </td>
          <td>
          {{recipe.source}}
          </td>
          <td>
          {{recipe['number of ingredients']}}
          </td>
          <td>
          {{recipe['ingredients']}}
          </td>
          <td>
          {{recipe.instructions}}
          </td>
          <td>
          {{recipe['preparation time']}}
          </td>

          <td>
          <button type="button" ng-href="#!/phones/{{recipe.id}}">Details</button>
          </td>

        </tr>
      </table>

    </div>
  </div>
</div>
</body>
</html>