<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->
        <button type="submit" ng-repeat="#!/phones/phones/{{recipe.ingredients}}">
        Ingredients:
        </button>

        <button type="submit" ng-repeat="#!/phones/phones/{{recipe.details}}">
        Details:
        </button>
      <p>
        Search:
        <input ng-model="$ctrl.query"/>
      </p>

      <p>
          <label text="Recipe name:omlette"/></label>
          <label text="Recipe source:recipe.mk"/></label>
          <label text="Ingredients"/>Ingredients: eggs:2,
          salt:0.2,
          peppers:0.1,
          cheese:5,
          </label>
          <label text="Instructions"/>Instructions:mix eggs & cheese,eggs are broken & mixed with milk and cheese,after that the mixed eggs are prepared in hot oil
          <h4>
          </p>
          <button type="button" value="submit">
          Recipe
          </button>
          </h4>
          </label>
      <button type="button" ng-repeat="#!/phones/{{'recipe instructions'}}">
      Recipe details:
      <th>
      <td>
      <h5>
      <p>{recipe.id}</p>
      <p>{recipe.source}</p>
      <p>{recipe['recipe instructions']}</p>
      <p>{recipe['recipe ingredients']}</p>
      <p>{recipe['preparation time']}</p>
      </h5>
      Recipe deleted
      </td>
      </th>
      </button>
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

      

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <table class="phones">
      <tr>
      <th ng-repeat="columnname in $ctrl.recipeColumnNames">
      {{columnname}}
      {{recipe}}
      </th>
      </tr>
      
        <tr ng-repeat="recipe in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="phone-list-item">
        
          <td>
          {{recipe.id}}
          </td>
          <td>
          {{recipe['recipe name']}}
          </td>
          <td>
          {{recipe.source}}
          </td>
          <td>
          {{recipe['number of ingredients']}}
          </td>
          <td>
          {{recipe['ingredients']}}
          </td>
          <td>
          {{recipe['instructions']}}
          Omlette:mix eggs & cheese,eggs are broken & mixed with milk and cheese,after that the mixed eggs are prepared in hot oil
          Soup: put oil & and mix it with meat
          </td>
          <td>
          {{recipe['preparation time']}}
          </td>

          <td>
          <button type="button" ng-href="#!/phones/{{recipe.id}}">Details
          <p>
          Showing results:
          <select ng-model="$ctrl.query">
          <option class="details">Showing</option>
          <option class="none">Non-conclusive</button>
          </select>
          </p>
          </th>
          <h6>
          <td>
          Recipe details:
          <p>{{recipe['preparation time']}}</p>
          <p>{{recipe['instructions']}}</p>
          <p>{{recipe['preparation ingredients']}}</p>
          <p>{{recipe['recipe source']}}</p>
          <p>{{recipe['recipe name']}}</p>
          </td>
          </h6>
          </button>
          
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
</body>
</html>